@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-size-body: clamp(14px, 2vw, 18px);
    --font-size-subheading: clamp(8px, 2vw, 22px);
    --font-size-p:clamp(10px, 1.7vw, 18px);
    --font-size-heading: clamp(10px, 5vw, 48px);
    --font-size-secondary-heading: clamp(20px, 4vw, 32px);
    --font-size-button: clamp(10px, 1.5vw, 16px);
    --font-size-caption: clamp(1rem, 1.5vw + 0.5rem, 1.5rem);
    --font-size-quote: clamp(20px, 3vw, 28px);
}

h1,h2,h3,h4,h5{
    font-family: "Aboreto", system-ui;
}
p{
    font-family: "Cormorant Garamond", serif;
}
.inv h1,.inv h2,.inv h3,.inv h4,.inv h5{
    font-family: "Cormorant Garamond", serif;
}
/* .inv p{
    font-family: "Aboreto", system-ui;
} */

#main{
    height: 100vh;
    width: 100%;
    background-image: url(images/bg_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 8% 8% 0;
    display: flex;
    flex-direction: column;
    gap: 55%;
}
.logo{
    width:30%;
}
.btn{
    background-color: white ;
    color: black;
    border: 1px solid white;
    padding:clamp(1vh , 2vh , 3.5vh) clamp(1vw , 4vw , 6vw);
    border-radius: 5px;
    margin-top: 50px;
    font-family: "Aboreto", system-ui;
    font-size: var(--font-size-button);
    text-decoration: none;
    text-align: center;
}
.btn:hover{
    background-color: transparent;
    color: white;
}
.desc p{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: var(--font-size-body);
}
.desc h1{
    font-size: var(--font-size-heading);
    letter-spacing: 3px;
}


/* ====================== services ============== */
#services{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    /* align-items: center; */
    min-height: 100vh;
    margin: auto;
    gap: 10%;
    background-image:url("images/BG-image2.svg") ;
    padding:clamp(1vw,3vw, 5vw);
}
#services .services-package-detail{
    flex-basis: 30%;
}
.services-package-detail h2{
    font-size: var(--font-size-secondary-heading);
    font-weight: 300;
    letter-spacing: 3px;
}
.services-package-detail p{
    font-size: var(--font-size-p);
    margin: 8vh 0rem;
}

#services .services-collection{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    justify-content: space-between;
}
#services .services-collection .services-details .collection{
    display: flex;
    padding: 10px;
    align-items: center;

}
#services .services-details img{
    width: 20vw;
}
#services .services-details .collection-desc{
    padding: 10px 3vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#services .services-details .collection-desc h3{
    margin-bottom: 1vh;
    position: relative;
    font-size: var(--font-size-subheading);
}
.collection-desc h3::before{
    content: "";
    width: 30%;
    height: 1px;
    display: block;
    position: absolute;
    bottom: -2vh;
    left: 0;
    background-color: black;
}
.collection-desc p{
    font-size: var(--font-size-p);
    
}

.secondary-btn{
    color: white;
    background-color: #343155;
    padding: clamp(1vh , 2vh , 3.5vh) clamp(1vw , 4vw , 7vw);
    font-family: "Aboreto", system-ui;
    font-weight: 200;
    text-decoration: none;
    font-size: var(--font-size-button);
    border: 1px solid #343155;
}
.secondary-btn:hover{
    background-color: transparent;
    color: black;
}

/* ==================== welcome ============= */

#welcome{
    background-image: url("images/bg_image2.png");
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #151925;
}
.welcome-line{
    min-height: 100vh;
    width: 100%;
    padding: 15vh clamp(10vw, 20vw , 30vw) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Cormorant Garamond", serif;
    text-align: center;
}
.welcome-line .center-welcome h3{
    margin: 4vh 0 6vh;
    font-size: var(--font-size-subheading);
}

.welcome-line h1{
    font-size: var(--font-size-heading);
}

.resort-highlight{
    width: 90%;
    height: auto;
    padding: 3vh 5vw;
    margin: 15vh 0 ;
    background-color: #383b43;
}
.resort-highlight h1{
    color: white;
    text-align: center;
    font-size: var(--font-size-heading);
    margin-bottom: 1rem;
}
.resort-highlight .mid-section{
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 4vw;
    padding: 10px;
    color: white;
}
.resort-highlight .mid-section .inv{
    flex-shrink: 1.8;
}
.resort-highlight .mid-section ul li{
    padding-top: 2.5vh;
}
.resort-highlight .mid-section ul li p{
    font-size: var(--font-size-p);
}
.resort-highlight .mid-section img{
    width: 30vw;
}

h4{
    color: white;
    text-align: center;
    width: 60%;
    margin: auto;
    font-size: var(--font-size-subheading);
    line-height: 1.5rem;
    margin-top: 4vh;
}


/* ================= package highlight ======= */
#package-highlight{
    /* margin: vh 0; */
    /* padding: 5vh; */
    padding: 20vh clamp(1vw,4vw,8vw);
    text-align: center;
    background-image: url(images/bg_image4.png);
}
#package-highlight h1{
    font-size: var(--font-size-heading);
    padding:0 clamp(1vw, 8vw , 15vw) ;
}
#package-highlight p{
    font-size: var(--font-size-p);
    margin: 4vh 0;
}
#package-highlight .package-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    margin: 10vh 0;
}
#package-highlight .img-container{
    display: flex;
    flex-direction: column;
    gap: 10vh;
} 
#package-highlight .packages{
    display: flex;
    flex-direction: column;
    gap: 7vh;
    text-align: start;
    padding: 2rem;
}
#package-highlight .packages p{
    font-size: var(--font-size-p);
    margin: 1rem 0;
    padding-right: clamp(1vw,4vw,8vw);
}
#package-highlight .img-container img{
    width: 45vw;
} 
.package-cost-detail h4{
    color: black;
    margin: 8vh auto;
}


/* ================== testimonials ======= */
#testimonials{
    min-height: 130vh;
    background-color: #343155;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
}
#testimonials h1{
    font-size: var(--font-size-heading);
    color: white;
    text-align: center;
    padding: 6vh 0;
}
#testimonials .img-testimonials > img{
    width: 85vw;
    display: block;
    margin: auto;
}
.img-testimonials{
    position: relative;
}
.testimonials{
    display: flex;
    justify-content: space-around;
    width: 75vw;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(16%,35%);
}
.testimonials .testimonial{
    width: 20vw;
    overflow: visible;
    position: relative;
    background-color: white;
    /* height: 30vh; */
    display: flex;
    gap: 3vh;
    flex-direction: column;
    padding: 1vw;
}
.testimonials .testimonial img{
    position: absolute;
    top: 0;
    left: 0;
    width: 14vh;
}
.testimonial p{
    font-size: clamp(10px,0.5vw + 0.4rem , 1rem);
}
#testimonials a{
    display: block;
    /* width: 30vw; */
    margin: auto;
    margin-top: 20vh;
    font-size:0.6em;
} 

/* ========== book-now ============== */
#book-now{
    background-image: url(images/bg_img3.png);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 12vh 15vw;
}
#book-now h1{
    margin-bottom: 3vh;
    font-size: var(--font-size-heading);
    width: 40vw;
}
#book-now p{
    margin-bottom: 10vh;
    font-size: var(--font-size-caption);
    width: 35vw;
}
#book-now a:hover{
    background-color: #343155;
}

/* ============= footer ============= */

footer{
    background-color: #151925;
    padding: 10vh 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
footer img{
    width: 20%;
}

footer .social-links i{
    padding: 1rem;
}




/* ============== media queries ============ */

