@media (max-width: 767px) {
    #main .logo{
        width: 50%;
    }
    #services{
        flex-direction: column;
        gap: 20vh;
    }
    #services .services-details img{
        width:40vw ;
    }

    #welcome .welcome-line{
        padding: 15vh clamp(2vw, 10vw , 20vw);
    }
    #welcome .welcome-line p{
        font-size: clamp(7px , 12px , 17px);
    }

    .resort-highlight .mid-section{
        flex-direction: column;
    }
    .resort-highlight .mid-section img{
        width: 70vw;
        margin: auto;
    }
    .resort-highlight h4{
        width: 85%;
    }

    #package-highlight .package-container{
        flex-direction: column;
    }
    #package-highlight .package-container img{
        width: 85vw;
    }

    .testimonials{
        flex-direction: column;
        width: 80%;
        gap: 4vh;
        transform: translate(0);
        margin: auto;
        margin-top: 4vh ;
        /* top:100% ; */
        position:relative;
    }
    .testimonials .testimonial{
        width: 100%;
        margin: auto;
    }
    #book-now h1,#book-now p{
        width: 70vw;
    }
    footer{
        flex-direction: column;
        gap: 7vh;
    }
    footer img{
        width: 50vw;
    }
}  



@media (max-width: 480px) {
    #services .services-details .collection{
        flex-direction: column;
    }
    #services .services-collection{
        padding: 2vw;
    }
    #services .services-details img{
        width: 100%;
        /* margin: auto; */
    }
    #services .services-details .collection{
        padding: 0;
    }
    #services .services-details .collection-desc{
        padding: 0vw;
        align-items: flex-start;
    }
}